<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2 style="text-align:center">Products</h2>
   <table border="1"  style="width: 50%; text-align:center; margin: 0 auto" >
    <thead>
    <tr>
            <th>Id</th>
            <th>Name</th>
    </tr>
    </thead>

    <tbody>
        <% productData.forEach((e)=>{ %>
            <tr>
                <td><%= e.id %></td>
                <td><%= e.name %></td>
            </tr>
        <% }) %>
    </tbody>
   </table>

<div style="text-align:center; margin-top:20px">
   <button >Prev</button>
   <button>Next</button>
</div>

</body>
</html>